.el-button-block {
    display: block;
    width: 100%;
}

// 去掉侧边栏的右边框
#layout-aside .el-menu {
    border-right: none;
}

// 侧边栏按钮激活状态
.is-active {
    background-color: rgba(254, 108, 108, .2) !important;
}

// 侧边栏按钮打开状态
.is-opened {
    .el-sub-menu__title {
        background-color: #f56c6c !important; 
    }
}